<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>DONG</title>
    <script src="lib/react.js"></script>
    <script src="lib/react-dom.js"></script>
    <script src="lib/browser.min.js"></script>
    <style>
    .xanh{background-color:#74992e  }
    .mau2{background-color: orange}


    </style>
  </head>
  <body>
  <div id="root"></div>
  <script src="progress.js" type="text/babel">

  </script>

  </body>
</html>
